 <header class="navbar navbar-fixed-top navbar-inverse" style="background-color: #9736c9;">
 <%= link_to "Ecomaidy", root_path, id: "logo" %>
  <nav id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
      </nav>
  </header>