<div class="row">
 <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="col-8">
  <div class="position-relative">  
  <%= link_to "Ecomaidy", root_path, id: "logo" %>
  </div>
  <div class="col-4">
  <nav class="position-absolute top-0 start-50 translate-middle-x ">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Help", help_path %></li>
      </ul>
      </nav>
      </div>
</div>
  </header>
